<%= form_with model: book do |form| %>
  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>
  <div>
    <%= form.label :first_page %>
    <%= form.text_field :first_page %>
  </div>
  <div>
    <%= form.label :last_page %>
    <%= form.text_field :last_page %>
  </div>
  

  <div>
    <%= form.label :cover_image, style: "display: block" %>
    <%= form.file_field :cover_image, accept: "image/*" %>
  </div>

  <div>
    <%= form.submit %>
  </div>

<% end %>
